fastapi
uvicorn[standard]
pydantic
typing

numpy==2.1.0
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.1
xgboost==2.1.1

gunicorn
openpyxl
mlflow
boto3

python-multipart
fsspec
s3fs
streamlit
plotly
seaborn
psycopg2-binary